app/
bootstrap/
config/
database/
public/
routes/
storage/
tests/
vendor/
.editorconfig
.env
.env.example
.gitattributes
.project
.settings/
README.md
artisan
composer.json
composer.lock
package.json
phpunit.xml
vite.config.js